[run]
source = aioamazondevices
omit =
    src/aioamazondevices/api.py
    src/aioamazondevices/exceptions.py
    src/aioamazondevices/http_wrapper.py
    src/aioamazondevices/login.py
    src/aioamazondevices/structures.py
    src/aioamazondevices/utils.py
    src/aioamazondevices/const/*
    src/aioamazondevices/implementation/*
    library_test.py
